<div class="" *ngIf="loading">
  <app-loader></app-loader>
</div>
<div class="container">
  <div class="row bg-gray">

    <div class="col-md-8 content p_r_40">
      <div class="details-body">
        <div class="post_details">
          <header class="details-header">
            <h2>{{article?.title}}</h2>
            <div class="element-block">
              <div class="entry-meta">
                <span class="entry-date"><i class="fa fa-calendar-o" aria-hidden="true"></i><time
                    datetime="2018-01-21T19:00">
                    {{article?.created_at | date:'medium'}}

                  </time></span>
                <!-- <span class="comment-link"><a href="#"><i class="fa fa-comment-o" aria-hidden="true"></i>05:09 م</a></span> -->
              </div>
            </div>
            <img [src]="articleImage+article?.main_image" class="w-100" alt="">
          </header>

          <!-- /.End of HTML5 video -->
          <div [innerHtml]="article?.text"></div>
        </div>
        <!-- /.End of post details -->

        <!-- /End of share icon -->
      </div>
      <!-- /.End if details body -->
      <!-- /.End of comment -->
      <div class="banner-content">
        <img src="assets/img/ad-728x90-1.png" class="img-responsive" alt="">
      </div>

      <div class="post_related">
        <h3 class="related_post_title">ممكن تشوف كمان</h3>
        <swiper [config]="config"     [freeMode]="true"
        >
          <ng-container *ngFor="let post of anotherPosts" dir="ltr">

          <ng-template swiperSlide>

            <article class="post_article item_related" >
              <a class="post_img">
                <figure>
                  <img class="img-responsive w-100" [src]="articleImage+post.main_image" alt="">
                </figure>
              </a>
              <h4 style="text-align: center;"><a [routerLink]="['/article-details', post.id]">
                {{post.title}}
              </a></h4>
            </article>
          </ng-template>
        </ng-container>

          <!-- /.End of related post -->

          <!-- /.End of related post -->
        </swiper>
        <!-- <owl-carousel-o [options]="otherArticles">
          <ng-container *ngFor="let post of anotherPosts" dir="ltr">

          <ng-template carouselSlide>

            <article class="post_article item_related" >
              <a class="post_img">
                <figure>
                  <img class="img-responsive w-100" [src]="articleImage+post.main_image" alt="">
                </figure>
              </a>
              <h4 style="text-align: center;"><a [routerLink]="['/article-details', post.id]">
                {{post.title}}
              </a></h4>
            </article>
          </ng-template>
        </ng-container>


        </owl-carousel-o> -->

      </div>
      <!-- /.End of comment content -->
    </div>
    <div class="col-md-4">
      <div class="latest_post_widget" style="margin: 17px;">
        <div class="title-holder">
          <h3 class="title">بيتشاف فشخ</h3>
          <span class="title-shape title-shape-dark"></span>
        </div>
        <!--  /.End of title -->
        <div class="posts">



          <!-- /.latest post -->
          <div *ngFor="let article of articlesViews| slice:-6:-1" class="media latest_post">
            <a class="media-left">
              <img [src]="articleImage+article.main_image" class="media-object" alt="">
            </a>
            <div class="media-body">
              <h6 class="media-heading"><a [routerLink]="['/article-details',article.id]">
                {{article.title}}
              </a></h6>
              <div class="entry-meta">
                <span class="entry-date"><i class="fa fa-calendar" aria-hidden="true"></i><time
                    datetime="2018-01-21T19:00">
                    {{article.created_at}}
                  </time></span>
              </div>
            </div>
          </div>
          <!-- /.latest post -->
        </div>

      </div>
      <div class="banner-content">
        <img src="assets/img/ad-300x250-1.png" class="img-responsive" alt="">
      </div>
    </div>
    <div class="comments container">
      <div class="comment_form">
        <h3 class="replay_title">ماتكتبلنا تعليق ياسطى</h3>

        <div *ngIf="success" class="alert alert-success text-center">
          <img src="assets/img/icon/check.png" alt="">
          <h4>ردك وصلنا</h4>
        </div>
        <form [formGroup]="commentForm" (ngSubmit)="submitMessageForm()">

          <div class="form-group">
            <label for="name" class="col-form-label">الرسالة *</label>

            <textarea class="form-control" id="textarea" rows="5" formControlName='text' ></textarea>
            <div *ngIf="commentForm.controls['text'].touched && commentForm.controls['text'].errors != null"
            id="text" class="alert mt-2 alert-danger" role="alert">
            <p class="mb-0" *ngIf="commentForm.controls['text'].errors['required']">الرسالة مطلوبة</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">

              <div class="form-group ">
                <label for="name" class="col-form-label">الاسم *</label>
                <input class="form-control" id="name" type="text"  formControlName="title">
                <div *ngIf="commentForm.controls['title'].touched && commentForm.controls['title'].errors != null"
                id="title" class="alert mt-2 alert-danger" role="alert">
                <p class="mb-0"
                  *ngIf="commentForm.controls['title'].errors['required']">الاسم مطلوب</p>
                <p class="mb-0"
                  *ngIf="commentForm.controls['title'].errors['pattern']">الاسم يحتوي علي ارقام او حروف</p>
                </div>
              </div>
            </div>

          </div>

          <button type="submit" [disabled]="commentForm.invalid" class="btn link-btn"> يللا بينا</button>
        </form>
      </div>
      <h3 class="comment_title">{{comments.length}} التعليقات</h3>
      <ng-container *ngIf="comments.length > 0">

        <div class="media" *ngFor="let comment of comments">
          <div class="media-left" *ngIf="comment.comment_status == 1">
            <img src="assets/img/avatar.jpg" alt="" class="media-object">
          </div>
          <div class="media-body">
            <h4 class="media-heading">{{comment.title}}<small>{{comment.created_at | date:'medium'}}</small></h4>
            <p>
              {{comment.text}}
            </p>
          </div>
        </div>
      </ng-container>


    </div>
  </div>
</div>
