<div class="main-content ">

  <app-navbar ></app-navbar>
  <div class="clearfix"></div>
  <!-- /.End of navigation -->
  <div class="top_right_ad">
    <img src="assets/img/ad-180x480-1.png" alt="">
  </div>
  <div class="top_left_ad">
    <img src="assets/img/ad-180x480-1.png" alt="">
  </div>
  <!-- /.End of search full page  -->
  <!--<div class="height_40"></div>-->
  <!-- /.End of news masonry -->
  <div class="page-content">

    <router-outlet ></router-outlet>
  </div>


  <!-- /. End of instagram -->
  <app-footer></app-footer>
  <!-- /.End of footer -->
</div>
