<div class="" *ngIf="loading">
  <app-loader></app-loader>
</div>
  <!-- /.End of navigation -->
  <div class="parallax page_header" style="background-image: url('assets/img/GaremetAkl/Banner.jpg'); background-size: cover;">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h3>المقالات</h3>
                <ol class="breadcrumb">
                    <li><a routerLink="/">الرئيسية</a></li>
                    <li class="active">المقالات</li>
                </ol>
            </div>
        </div>
    </div>
  </div>
<div class="container">
  <main class="row py-5 content p_r_40" *ngIf="articles.length > 0" >
    <ng-container *ngFor="let article of articles | paginate: { itemsPerPage: 6, currentPage: page }">
      <div class=" col-md-6">
        <div class="media meida-md">
          <div class="media-left">
            <a><img [src]="articleImage+article.main_image" class="media-object" alt=""></a>
          </div>
          <!-- /.Post image -->
          <div class="media-body">
            <div class="post-header">
              <div class="post-cat"><span>في</span> <a>أكلات شرقي</a></div>
              <h3 class="media-heading"><a>
                  {{article.title}}
                </a></h3>
              <div class="entry-meta">
                <span class="entry-date"><i class="fa fa-calendar" aria-hidden="true"></i>
                  <time datetime="2018-01-21T19:00" style="margin:0 10px;">{{article.created_at | date:'EEEE  d MMMM  y, h:mm a':undefined:'ar'}}</time>


                </span>
                <span class="comment-link"><a><i class="fa fa-comment" aria-hidden="true"></i>
                  {{article.comment_re?.length}} ردوا عليه
                  </a></span>
              </div>
              <!-- /.Post meta -->
            </div>
            <div style="margin-bottom: 18px;" [innerHtml]="article.text | slice:0:50" *ngIf="article.text.length > 50"></div>
            <div style="margin-bottom: 18px;" [innerHtml]="article.text" *ngIf="article.text.length < 50"></div>
            <div class="element-block">
              <a [routerLink]="['/article-details', article.id]" class="btn link-btn btn-outline btn-rounded">يلا بينا</a>
              <!-- /.Post button -->

              <!-- /.Post social share -->
            </div>
          </div>
        </div>

      </div>

    </ng-container>
  </main>
  <main class="row py-5 content p_r_40" *ngIf="articles.length === 0" >
    <ng-container>
      <div class="col-md-12">
        <h4 class="text-center" style="margin-bottom: 70px;">
          لا يوجد مقالات الأن
        </h4>
      </div>

    </ng-container>
  </main>
  <pagination-controls class="d-flex align-content-center justify-content-center" [maxSize]="6" *ngIf="articles.length > 6"
    previousLabel="الراح"
    nextLabel="اللجاي"
    (pageChange)="page = $event" >

  </pagination-controls>
</div>
